.about-us {
  position:relative;
  display:flex;
  /*justify-content: end;*/
  min-height: 455px;
  margin-bottom: 51px;
  }
  
  .about-us__block:before {
    content: url(./gates.png);
    position:absolute;
    width:490px;
    height:505px;
    left:-354px;
    top:-100px;
    z-index: -10;
  }
  
  .about-us__block{
    position:relative;
    min-height: 455px;
    /*margin-left:354px;*/
    width:69%;
    line-height:1.68;
    z-index: 10;
    margin-left:auto;
  }
  
  .about-us__content {
    background: url(./mountains.png);
    width:100%;
    min-height:455px;
    padding: 30px 202px 30px 81px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
  }
  
  .about-us__headline {
    font-size:36px;
    font-weight: 700;
    color:black;
  }
  
  .about-us__paragraph{
    color:black;
  }